<h3><% author %></h3>
<p>César de Mercado Santamarta</p>
<p><img src="images/cesar.png"></p>

<p>Luis Fernández Gómez-Acebo</p>
<p><img src="images/luis.png"></p>

<a href="/index" >Home</a>
<footer><a href="https://github.com/LuisFernandezGomez/Quiz">Proyecto en GITHub</a></footer>