
<table>
	<tr>
		<td>Número de preguntas:  </td>
		<td><% //quizes.length %></td>
	</tr>
	<tr>
		<td>Número de comentarios totales: </td>

		<td><% //comentariosTotales %></td>
	</tr>
	<tr>
		<td>Número medio de comentarios por pregunta: </td>

		<td><% //comentariosTotales/quizes.length  %></td>
	</tr>
	<tr>
		<td>Número de preguntas sin comentarios: </td>
		<td><% //preguntasSinComent %></td>
	</tr>
	<tr>
		<td>Número de preguntas con comentarios:</td>
		<td><%  //quizes.length-preguntasSinComent%></td>
	</tr>
</table>
